streamlit==1.31.0
plotly==5.18.0
pandas>=2.2.0
numpy==1.26.3
requests==2.31.0
scipy
bs4
pathlib
streamlit_dynamic_filters==0.1.9
s3fs
st-files-connection
datetime
yfinance
sqlalchemy>=2.0.36
psycopg2-binary>=2.9.10
python-dotenv==1.0.0
fpdf2==2.8.1
kaleido==0.2.1